:root {
  // Primary

  --primary: hsl(223, 87%, 63%);

  //Secondary

  --accent-blue: hsl(223, 100%, 88%);
  --accent-red: hsl(354, 100%, 66%);

  //Neutral

  --neutral-grey: hsl(0, 0%, 59%);
  --neutral-dark-blue: hsl(209, 33%, 12%);

  --font-size: 20px;

  --main-font: 'Libre Franklin', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
